/* general things like company colors, etc */


/* blue  02AEEE */


body {
  font-size: 62.5%;
}

@media screen and (max-width: 500px) {
  body {
    font-size: 60%;
  }
}

p {
  font-size: 1.8em;
  text-align: justify;
  font-family: Georgia,"Times New Roman",Times,serif;
  line-height: 1.8em;
}

h1, h2, h3, h4 {
  padding-bottom: 15px;
}

h2 {
    font-family: "Helvetica Neue";
    font-weight: 300;
    padding-left: 15px;
}

footer {
  margin-top: 80px;
  border-top: 1px solid #EEE;
  background-color: #22CEFF;
  text-align: center;
  padding: 10px;
}

.inner {
  margin: 0 auto;
  padding: 0 3%;
  max-width: 1000px;
  font-size: 1.4em;
}



/* Header / Nav */

.headnav {
    margin-top: 10px;
    color: #333;
    /* border-bottom: 1px solid #02AEEE; */
}
.headnav a {
    color: #667;
    -moz-transition:    color 0.8s;
    -webkit-transition: color 0.8s;
    -o-transition:      color 0.8s;
    transition:         color 0.8s;
}
.headnav a:hover {
    color: #333;
}

.headnav ul {
    list-style: none;
}

.headnav li {
    float: left;
    height: 40px;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 1.8em;
    padding: 10px 10px 0 10px;
}
.headnav .logo  {
    padding: 0;
    margin-top: 2px;
}
.headnav .logo img {
    height: 45px;
}
.headnav .logotitle {
    font-size: 2.5em;
    padding: 0 5px;
    margin-top: 6px;
    font-weight: 100;
}
.headnav .logotitle a {
    color: #222;
}
.headnav .logotitle a:hover {
    text-decoration: none;
}

.headnav .active a {
    color: #02AEEE;
}

.headerBorder {
border-top: 1px solid #02aeee;
margin-left: 79px;
margin-top: -25px;
margin-bottom: 60px;
}
.blue {
    color: #42BEEB
}



.content {
  margin: 20px 3%;
}
@media screen and (max-width: 500px) {
    .content {
        margin: 20px 0;
        font-size: 60%;
    }
}






/* About page */


.about p, .about div {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: justify; }
.about .hi {
  width: 316px;
  height: 208px;
  float: left;
  margin: 40px 120px 35px 50px; }
  @media screen and (max-width: 999px) {
    .about .hi {
      text-align: left; } }
  @media screen and (max-width: 965px) {
    .about .hi {
      float: none; } }
  @media screen and (max-width: 500px) {
    .about .hi {
      width: 100%;
      height: auto;
      margin: 40px 3% 35px 3%; } }
.about .firstParagraph p {
  font-size: 2.8em;
  line-height: 1.4em;
  text-align: left; }
.about .secondParagraph {
  font-size: 2.2em;
  line-height: 1.8em;
  padding-top: 55px; }
.thirdParagraph {
  font-size: 1.8em;
  line-height: 1.8em;
  padding-top: 90px; }
.fourthParagraph {
  font-size: 1.655em;
  line-height: 1.8em;
  padding-top: 90px; }
.about .picture {
  float: right;
  padding-top: 90px;
  margin-left: 60px;
  height: 200px;
  margin-top: 10px; }
  @media screen and (max-width: 600px) {
    .about .picture {
      float: none; } }
  @media screen and (max-width: 500px) {
    .about .picture {
      width: 100%;
      height: auto;
      margin-left: 5%; } }
.about .socialIcons {
  margin-top: 100px;
  margin-left: 10%; }
  .about .socialIcons h2 {
    padding-bottom: 10px;
    font-weight: 300; }
.about .socialIcons .icon {
  float: left;
  padding: 0px 80px 25px 0px; }


.dl_resume {
    display: block;
    background-color: #FFF;
    border: 2px dashed #EEE;
    border-radius: 14px;
    margin-bottom: 20px;
    text-align: center;
    color: #AAA;
    padding: 15px 0 2px;
}

.dl_resume:hover {
    border: 2px dashed #02AEEE;
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0)); 
    text-decoration: none;
}

.dl_resume i {
    color: rgb(2, 174, 236);
    font-size: 5em;
}

.dl_resume p {
    color: #777;
    text-align: center;
}


.project1 {
    background-color: #FFF8EB;
}
.project2 {
    background-color: #F0E0F4;
}
.project3 {
    background-color: #D0E5D0;
}


.project_box {
    width: 100%;
    padding: 25px 20px 8px;
    margin-bottom: 2px;
}

.project_box h2 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.project_box h4 {
    padding-left: 15px;
    margin-top: 0;
    font-size: 120%;
    font-weight: 500;
    margin-right: 15px;
    float: left;
}

.project_box h6 {
    margin-top: 2px;
}

.project_box p {
    padding-top: 10px;
}

.project_box .project_footer {
    margin-top: 25px;
    border-top: 1px dashed #BBB;
    font-size: 1.5em;
}

.project_box .project_footer span {
    margin-right: 20px;
    display: inline-block;
}

.project_box .project_footer i {
    font-size: 1.3em;
}


.past_projects {
    width: 100%;
    font-size: 4.5em;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
    padding-bottom: 40px;
    color: #999;
    font-weight: 400;
    border-bottom: 2px dashed #DDD;
}

